.red{
    color:red;
  }
  .bold{
    font-weight: bolder;
  }
  .Cockpit button{
    background-color: dodgerblue;
    color: white;
    font: inherit;
    border: 3px dotted pink;
    padding: 10px;
    cursor: pointer;
  }
  .Cockpit button:hover{
    background-color: blueviolet;
    color: black;
  }
  .Cockpit button.Red{
    background-color: red;
  }
  .Cockpit button.Red:hover{
    background-color: salmon;
  }